In [1]:
#####
###
##
#    SYNOPSIS
#
#    As a small data analytics firm, our client approached us with an urgent project to collect information
#    about this year’s LEGO sets. They are part of the manufacturing process of LEGO pieces; and want to do 
#    predictive data modelling to find out what materials will be more in demand next year, based on this
#    year’s information, so that they can optimise their manufacturing process.
#
#    They have requested the information be put into database format so that it can be accessed in a way
#    that they are already familiar with.
#
#    Based on the timeframe of 1 week, we have assigned the following team members to this project:
#
#    CONTRIBUTORS
#    
#    Sylvia Broadbent @github/Supasyl
#    Cicily George @github/CicilyGeorge
#    Daniel Sobral @github/D0SO
#    John Bingley @github/JB-DA
#
#    Source and output can be found (with access) on https://github.com/Supasyl/ETL_project
#
##
###
#####


### SETTINGS
##
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import requests
import json

# Displays cleaned dataframes for validation
headSize = 5 #rows to show


### LOAD DATA FROM CSVs
##
# Load pre-downloaded information
df_colors = pd.read_csv( 'data_raw/colors.csv' )
df_elements = pd.read_csv( 'data_raw/elements.csv' )
df_inventories = pd.read_csv( 'data_raw/inventories.csv' )
df_inventory_minifigs = pd.read_csv( 'data_raw/inventory_minifigs.csv' )
df_inventory_parts = pd.read_csv( 'data_raw/inventory_parts.csv' )
df_inventory_sets = pd.read_csv( 'data_raw/inventory_sets.csv' )
df_minifigs = pd.read_csv( 'data_raw/minifigs.csv' )
df_parts = pd.read_csv( 'data_raw/parts.csv' )
df_sets = pd.read_csv( 'data_raw/sets.csv' )
df_themes = pd.read_csv( 'data_raw/themes.csv' )


### DOWNLOAD DATA FROM WEB API
##
# Left as proof of code only. Results were stored to api_sets_2020.json
# API requires ' to be used in URL, converted to %27 for ease of use
# Comment out code block and api_key before publishing
# API is from www.brickset.com
# Used to extract user reviews and ratings

# api_key = "3-DLfb-T3ZA-qQLjW"
# url = "https://brickset.com/api/v3.asmx/getSets?"
# query_url = f"{url}apiKey={api_key}&userHash=&params={{ %27year%27:%272020%27, %27pageSize%27 : 900 }}"

# response = requests.get( query_url )

# with open( 'data_raw/api_sets_2020.json', 'w' ) as ii:
#     json.dump( response.json(), ii )


### CLEAN & JOIN DATA FROM CSVs
##
# Looking through sets file and pull out 2020 only
df_clean_sets = df_sets.loc[ df_sets[ 'year' ] == 2020 ].copy()
df_clean_sets.drop( 'year', axis = 1, inplace = True ) #drop year column as no longer needed

# Use the 2020 data set above to merge on rest of data sets, to extract only information that relates to sets released in 2020
# Inventories
df_inventories = df_inventories.rename( columns = { 'id' : 'inventory_id' }) #match column names across tables being merged
df_temp = pd.merge( df_clean_sets, df_inventories, how = 'inner', on = 'set_num' )
df_clean_inventories = df_temp[[ 'inventory_id', 'version', 'set_num' ]] #create clean dataframe

# Inventory Sets
df_temp = pd.merge( df_clean_sets, df_inventory_sets, how = 'inner', on = 'set_num' )
df_clean_inventory_sets = df_temp[[ 'inventory_id', 'set_num', 'quantity' ]] #create clean dataframe

# Themes
df_themes = df_themes.rename( columns = { 'id' : 'theme_id', 'name' : 'theme_name' }) #match column names across tables being merged
df_temp = pd.merge( df_themes, df_clean_sets, how = 'inner', on = 'theme_id' )
df_clean_themes = df_temp[[ 'theme_id', 'theme_name', 'parent_id' ]] #create clean dataframe
df_clean_themes = df_clean_themes.drop_duplicates( keep = 'first' )

# Inventory Minifigs
df_temp = pd.merge( df_clean_inventories, df_inventory_minifigs, how = 'inner', on = 'inventory_id' )
df_clean_inventory_minifigs = df_temp[[ 'inventory_id', 'fig_num', 'quantity' ]] #create clean dataframe

# Minifigs
df_temp = pd.merge( df_clean_inventory_minifigs, df_minifigs, how = 'inner', on = 'fig_num' )
df_clean_minifigs = df_temp[[ 'fig_num', 'name', 'num_parts' ]] #create clean dataframe
df_clean_minifigs = df_clean_minifigs.drop_duplicates( keep = 'first' )

# Inventory Parts
df_temp = pd.merge( df_inventory_parts, df_clean_inventories, how = 'inner', on = 'inventory_id' ) #match column names across tables being merged
df_clean_inventory_parts = df_temp[[ 'inventory_id', 'part_num', 'color_id', 'quantity', 'is_spare' ]] #create clean dataframe
df_clean_inventory_parts[ 'is_spare' ] = df_clean_inventory_parts[ 'is_spare' ].map({ 't' : True, 'f' : False }) #change values to proper boolean types
df_clean_inventory_parts = df_clean_inventory_parts.drop_duplicates( keep = 'first' )

# Colours
df_colors = df_colors.rename( columns = { 'id' : 'color_id' }) #match column names across tables being merged
df_temp = pd.merge( df_clean_inventory_parts, df_colors, how = 'inner', on = 'color_id' )
df_clean_colors = df_temp[[ 'color_id', 'name', 'rgb', 'is_trans' ]] #create clean dataframe
df_clean_colors[ 'is_trans' ] = df_clean_colors[ 'is_trans' ].map({ 't' : True, 'f' : False }) #change values to proper boolean types
df_clean_colors = df_clean_colors.drop_duplicates( keep = 'first' )

# Parts
df_temp = pd.merge( df_clean_inventory_parts, df_parts, how = 'inner', on = 'part_num' )
df_clean_parts = df_temp[[ 'part_num', 'name' ]]  #create clean dataframe
df_clean_parts = df_clean_parts.drop_duplicates( keep = 'first' )

# Elements
df_temp = pd.merge( df_clean_parts, df_elements, how = 'inner', on = 'part_num' )
df_clean_elements = df_temp[[ 'element_id', 'part_num', 'color_id' ]] #create clean dataframe
df_temp = pd.merge( df_clean_colors, df_clean_elements, how = 'inner', on = 'color_id' )
df_clean_elements = df_temp[[ 'element_id', 'part_num', 'color_id' ]] #create clean dataframe
df_clean_elements = df_clean_elements.drop_duplicates( keep = 'first' )


### API DATA LOAD & CLEAN
##
# Loads data file that was downloaded earlier using our API call
with open( 'data_raw/api_sets_2020.json', 'r' ) as jj: #open pre-downloaded api results
    json_d = json.load( jj )

api_sets_2020 = pd.DataFrame( json_d[ 'sets' ]) #load to dataframe

df_api_sets_2020 = api_sets_2020[[ 'number', 'rating', 'reviewCount' ]] #show only desired columns

# Set API column number to match Lego ID number
df_api_sets_2020 = df_api_sets_2020.rename( columns = { 'number' : 'set_num', 'reviewCount' : 'review_count' }) #match column names across tables being merged
df_api_sets_2020.set_num = df_api_sets_2020.set_num + '-1' #append -1 to column to match data in relevant column in 'sets'

# Merge API data with sets dataframe
df_clean_sets = pd.merge( df_clean_sets, df_api_sets_2020, how = 'left', on = 'set_num' ) #merge sets and review data, critical to our clients request
df_clean_sets = df_clean_sets.drop_duplicates( keep = 'first' )
df_clean_sets = df_clean_sets.drop_duplicates([ 'set_num' ], keep = 'first' )


### PUSH TO DATABASE
##
# Connect to database
engine = create_engine(f"postgresql://postgres:postgres@localhost:5432/Lego_db")
engine.begin()
con = engine.connect()

# Check table names
engine.table_names()

# Load dataframes into database
df_clean_themes.to_sql( name = 'themes', con = engine, if_exists = 'append', index = False )
df_clean_sets.to_sql( name = 'sets', con = engine, if_exists = 'append', index = False )
df_clean_inventories.to_sql( name = 'inventories', con = engine, if_exists = 'append', index = False )
df_clean_inventory_sets.to_sql( name = 'inventory_sets', con = engine, if_exists = 'append', index = False )
df_clean_minifigs.to_sql( name = 'minifigs', con = engine, if_exists = 'append', index = False )
df_clean_inventory_minifigs.to_sql( name = 'inventory_minifigs', con = engine, if_exists = 'append', index = False )
df_clean_colors.to_sql( name = 'colors', con = engine, if_exists = 'append', index = False )
df_clean_parts.to_sql( name = 'parts', con = engine, if_exists = 'append', index = False )
df_clean_elements.to_sql( name = 'elements', con = engine, if_exists = 'append', index = False )
df_clean_inventory_parts.to_sql( name = 'inventory_parts', con = engine, if_exists = 'append', index = True )

In [2]:
### PROOF OF CONCEPT
##
#

### VERIFY DATA IN CLEANED DATA FRAMES
##
#   
display( df_clean_colors \
        .head( headSize ) \
        .style.set_caption( 'Table: Colours' ))
    
display( df_clean_elements \
        .head( headSize ) \
        .style.set_caption( 'Table: Elements' ))
    
display( df_clean_inventories \
        .head( headSize ) \
        .style.set_caption( 'Table: Inventories' ))
    
display( df_clean_inventory_minifigs \
        .head( headSize ) \
        .style.set_caption( 'Table: Inventory Mini-figures' ))
    
display( df_clean_inventory_parts \
        .head( headSize ) \
        .style.set_caption( 'Table: Inventory Parts' ))
    
display( df_clean_inventory_sets \
        .head( headSize ) \
        .style.set_caption( 'Table: Inventory Sets' ))
    
display( df_clean_minifigs \
        .head( headSize ) \
        .style.set_caption( 'Table: Mini-figures' ))
    
display( df_clean_parts \
        .head( headSize ) \
        .style.set_caption( 'Table: Parts' ))
    
display( df_clean_sets \
        .head( headSize ) \
        .style.set_caption( 'Table: Sets' ))
    
display( df_clean_themes \
        .head( headSize ) \
        .style.set_caption( 'Table: Themes' ))


### VERIFY DATA LOADED INTO DATABASE
##
# Query records in database for test purpose

# Query for total no.of pieces in a set
query = "select a.set_num, sum(b.quantity) as no_of_pieces\
    from inventories as a, inventory_parts as b\
    where a.inventory_id = b.inventory_id\
    group by a.set_num;"
display( pd.read_sql_query(query, con=engine).head().style.set_caption( 'Database Table: Number of pieces in a set'))

# Query for total no.of minifigs in a set
query = "select a.set_num, sum(b.quantity) as num_figs\
    from inventories as a, inventory_minifigs as b\
    where a.inventory_id = b.inventory_id\
    group by a.set_num;"
display( pd.read_sql_query(query, con=engine).head().style.set_caption( 'Database Table: Number of mini-figures in set' ))