In [1]:
import pandas as pd
import requests
import json

In [2]:
# Getting data using API and writing it into JSON file
############

# url = "https://brickset.com/api/v3.asmx/getSets?apiKey=3-DLfb-T3ZA-qQLjW&userHash=&params={'year':'2020','pageSize':900}"
# response = requests.request("GET", url)

# with open('sets2020.json', 'w') as fp:
#     json.dump(response.json(), fp)

In [3]:
# Reading from JSON file and Extracting needed data into a Data Frame
with open('sets2020.json') as fp:
  data = json.load(fp)

count=len(data['sets'])

data_dict = {"set_id":[], "set_num":[], "rating":[],"reviewCount":[],"price":[]};

for i in range(count):
    try:
        data_dict['set_id'].append(data['sets'][i]['setID'])
        data_dict['set_num'].append(data['sets'][i]['number'])
        data_dict['rating'].append(data['sets'][i]['rating'])
        data_dict['reviewCount'].append(data['sets'][i]['reviewCount'])
        price_US = data['sets'][i]['LEGOCom']['US']
        if price_US:
            data_dict['price'].append(price_US['retailPrice'])
        else:
            data_dict['price'].append(None)
        
    except:
        print(f"missing {i}, ")

api_sets_df = pd.DataFrame(data_dict)
api_sets_df

     set_id     set_num  rating  reviewCount   price
0     29830       10270     4.3            3  179.99
1     29962       10271     4.1            0   89.99
2     29878       10272     4.3            0  299.99
3     30315       10273     4.3            0  249.99
4     30316       10274     0.0            0  199.99
..      ...         ...     ...          ...     ...
807   30721  PE770439_1     0.0            0     NaN
808   30723    PE770441     0.0            0     NaN
809   30931     PINBALL     0.0            0     NaN
810   30928        SMMM     0.0            0     NaN
811   29992       TEDDY     0.0            0     NaN

[812 rows x 5 columns]